.Home_Section {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./HomeImg.jpg");
}

.Home_Section div {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.58);
}

.Home_Section p {
  z-index: 1000;
  color: #fff;
  font-size: 60px;
  position: relative;
}
