.Home_Section {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-size: cover;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./web-design-2906159_640.jpg");
}

.Home_Section div {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.58);
}

.Home_Section p {
  z-index: 900;
  color: #fff;
  font-size: 4vw;
  position: relative;
}
