header {
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;
  position: fixed;
  /* background-color: #fff; */
  border-bottom: 1px solid rgba(42, 43, 41, 0.1);
}
.header_Container {
  height: 100%;
  display: flex;
  margin-left: 4%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-between;
}
.header_Title {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
}
.header_Menu {
  width: 480px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_List {
  height: 100%;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  align-items: center;
}
